fastapi
langchain-cerebras
mistralai
langchain-google-genai
langchain-mistralai
langchain-groq
langchain-huggingface
python-multipart
uvicorn
loguru
langchain
sentence-transformers
optree>=0.13.0
numpy
python-dotenv
groq 
torch==2.6.0
transformers
accelerate
mistralai
python-dotenv
